# dependencies
node_modules
node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node 

# next.js
.next

# firebase
.firebase

# production
build

# misc
.env.local
firebase-debug.log

# css
*.css
*.css.map
