// Define variables
$color-background: #111111;
$color-text: #ffffff;
$color-accent: hsl(45, 43%, 56%);
$color-secondary: #666666;
$color-tertiary: #28b0d9;
$text-box: #1e1e1e;
$input: #373737;
$other-text : #A1A1A1;

$background-gradient: rgba(17, 17, 17, 0.9);