// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



html,
body {
	font-family: "Poppins";
	background-color: #111111;
	color: #ffffff;
	overflow-x: hidden;
	overflow-y:auto;
}

.loader {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 18rem;
	width: 100%;
	max-width: 6rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	z-index: 100;
}

body:has(.loader_active) {
	overflow: hidden;
}

.loader:before,
.loader:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	animation: pulsOut 2.5s ease-in-out infinite;
	filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
	-webkit-animation: pulsOut 3s ease-in-out infinite;
}

.loader:before {
	width: 100%;
	padding-bottom: 100%;
	box-shadow: inset 0 0 0 1rem #fff;
	animation-name: pulsIn;
}

.loader:after {
	width: calc(100% - 2rem);
	padding-bottom: calc(100% - 2rem);
	box-shadow: 0 0 0 0 #fff;
}

.loader_background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #111111;
	z-index: 99;
}

@keyframes pulsIn {
	0% {
		box-shadow: inset 0 0 0 1rem #fff;
		opacity: 1;
	}
	50%,
	100% {
		box-shadow: inset 0 0 0 0 #fff;
		opacity: 0;
	}
}

@keyframes pulsOut {
	0%,
	50% {
		box-shadow: 0 0 0 0 #fff;
		opacity: 0;
	}
	100% {
		box-shadow: 0 0 0 1rem #fff;
		opacity: 1;
	}
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

.spline-loading {
	animation: blink 1.5s ease-in-out infinite;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
/* Style for mobile image */

/* Media query for mobile devices */

.spline-desktop.hidden {
	display: none;
}
.spline-desktop {
	display: block; // Display the Spline component by default
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;

	canvas {
		height: max(120vh, 600px) !important;
	}
	// Hide the Spline component on mobile
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.spline-mobile img {
	display: none; // Hide the mobile image by default

	// Display the mobile image on mobile devices
	@media screen and (max-width: 768px) {
		margin-bottom: -55rem;
		margin-top: 5rem;
		display: block;
		position: relative;
		/*showimageonmobile*/
		width: 330%;
		height: 330%;
		//height: 200%;
		object-fit: fill;
		//object-position: center;
		transform: translate(-35%);
		-webkit-transform: translate(-35%);
		-moz-transform: translate(-35%);
		-ms-transform: translate(-35%);
		-o-transform: translate(-35%);
	}
}
.spline-mobile.hidden {
	display: none;
}
