@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.spline.hidden {
	display: none;
}

.loader {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 18rem;
	width: 100%;
	max-width: 6rem;
	margin-top: 3rem;
	margin-bottom: 3rem;
	z-index: 100;
}

body:has(.loader_active) {
	overflow: hidden;
}

.loader:before,
.loader:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}

.loader:before {
	width: 100%;
	padding-bottom: 100%;
	box-shadow: inset 0 0 0 1rem #fff;
}

.loader:after {
	width: calc(100% - 2rem);
	padding-bottom: calc(100% - 2rem);
	box-shadow: 0 0 0 0 #fff;
}

.loader_background {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #111111;
	z-index: 99;
}

@keyframes blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.5;
	}
}

.spline-loading {
	animation: blink 1.5s ease-in-out infinite;
}

.spline {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	width: 100%;

	canvas {
		height: max(120vh, 600px) !important;
	}
}

html,
body {
	font-family: "Poppins";
	background-color: #111111;
	color: #ffffff;
}

a {
	color: inherit;
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
