@import "../colors.scss"; // Assuming this file contains your color definitions

.projectCard {
	background-color: #141414;
	display: flex;
	margin-top: 4rem;
	margin-bottom: 4rem;
	overflow: hidden;
	cursor: pointer;
	transition: box-shadow 0.3s ease; // Smooth transition for the hover effect

	&:hover {
		box-shadow: 0 0 55px 0px hsla(41, 46%, 52%, 0.514);
	}
	&.projectCardReverse {
		flex-direction: row-reverse;
	}
}

.imageWrapper {
	flex: 0 0 42%;
	position: relative;
	background: #191919;
	min-height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.projectImage {
		position: absolute;
		top: 14%;
		left: 12%;
		border-radius: 45px;
		width: 75%;
		height: 75%;
		object-fit: cover;
		margin: 20px;
		-webkit-border-radius: 45px;
		-moz-border-radius: 45px;
		-ms-border-radius: 45px;
		-o-border-radius: 45px;
		-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.238);
	}

	.decoration {
		position: absolute;
		top: 8%;
		left: 4%;
		width: 75%;
		height: 75%;
		object-fit: fill;
	}
}

.textContent {
	flex: 1;
	padding: 3rem;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.projectTitle {
		font-size: 2.5rem;
		margin-bottom: 2rem;
		font-weight: bold;
		color: white;
	}

	.projectDescription {
		font-size: 1.125rem;
		color: aliceblue;
		margin-bottom: 2rem;
	}

	.projectType {
		color: #555555cc;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: -1px;
		text-align: right;
		top: 12%;
		margin: 0;
	}
}

@media screen and (max-width: 800px) {
	.projectCard {
		flex-direction: column;

		&.projectCardReverse {
			flex-direction: column;
		}
	}
}

@media screen and (max-width: 600px) {
	.textContent {
		padding: 3rem 2rem;

		.projectTitle {
			font-size: 2rem;
		}

		.projectDescription {
			font-size: 1rem;
		}

		.projectType {
			font-size: 1.5rem;
		}
	}
}

.viewMore {
	color: #f1f1f1;
	font-size: 1.5rem;
	font-weight: 600;
	text-align: right;
	border-right: 2px solid $color-accent;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 1rem;
}
.modal {
	background-color: rgba(0, 0, 0, 0.9); // Transparent black background
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modalContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // Four columns by default
  gap: 20px;
  padding: 20px;
  max-height: 70vh; // Maximum height before scrolling
  overflow-y: auto; // Enables vertical scrolling
  height: 100%;

  .imgContainer {
    position: relative;
    width: 20rem;
		height: 25rem;
    // padding-top: 100%; // This gives a 1:1 aspect ratio (square)
    overflow: hidden;
  }

  .modalImage {
    
    width: 100%;
		height: 100%;
    transition: transform 0.3s ease, z-index 0.3s ease;
    z-index: 1; // Ensure images are above the grid background

    &:hover {
      transform: scale(1.1);
      z-index: 2;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
    }
  }
}

// Responsive adjustments for smaller screens
@media screen and (max-width: 800px) {
	.modalContent {
		grid-template-columns: repeat(3, 1fr); // Three columns for medium screens
	}
}

@media screen and (max-width: 600px) {
	.modalContent {
		grid-template-columns: repeat(2, 1fr); // Two columns for small screens
	}
}

@media screen and (max-width: 425px) {
	.modalContent {
		grid-template-columns: 1fr; // One column for very small screens
	}
}

.closeButton {
	position: absolute;
	top: 40px;
	right: 10px;
	z-index: 3000;
	background: transparent;
	border: none;
	color: white; // Adjust color as needed
	font-size: 5rem;
	//1 px border
	-webkit-text-stroke: 1px black;
	cursor: pointer;
}
