@import "../colors.scss"; // Assuming this file contains your color definitions

.projectCard {
	background-color: #141414;
	display: flex;
	margin-top: 4rem;
	overflow: hidden;

	&.projectCardReverse {
		flex-direction: row-reverse;
	}
}

.imageWrapper {
	flex: 0 0 42%;
	position: relative;
	background: #191919;
	min-height: 75vh;
	display: flex;
	align-items: center;
	justify-content: center;

	.projectImage {
		position: absolute;
		top: 14%;
		left: 12%;
		border-radius: 45px;
		width: 75%;
		height: 75%;
		object-fit: cover;
		margin: 20px;
		-webkit-border-radius: 45px;
		-moz-border-radius: 45px;
		-ms-border-radius: 45px;
		-o-border-radius: 45px;
		-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.238);
	}

	.decoration {
		position: absolute;
		top: 8%;
		left: 4%;
		width: 75%;
		height: 75%;
		object-fit: fill;
	}
}

.textContent {
	flex: 1;
	padding: 3rem;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;

	.projectTitle {
		font-size: 2.5rem;
		margin-bottom: 2rem;
		font-weight: bold;
		color: white;
	}

	.projectDescription {
		font-size: 1.125rem;
		color: aliceblue;
		margin-bottom: 2rem;
	}

	.projectType {
		color: #555555cc;
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: -1px;
		text-align: right;
		top: 12%;
		margin: 0;
	}
}

@media screen and (max-width: 800px) {
	.projectCard {
		flex-direction: column;

		&.projectCardReverse {
			flex-direction: column;
		}
	}
}

@media screen and (max-width: 600px) {
	.textContent {
		padding: 3rem 2rem;

		.projectTitle {
			font-size: 2rem;
		}

		.projectDescription {
			font-size: 1rem;
		}

		.projectType {
			font-size: 1.5rem;
		}
	}
}
