@import "../colors.scss";
.container {
	margin-top: 6em;
}

.tableHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	font-weight: bold;
	gap: 18vw;
	margin: 2em auto;
	height: 2em;
	padding: 0.5em;
	width: 98%;
	background-color: $color-accent;
	border-radius: 8px;
}

.memberCard {
	background-color: $text-box;
	border-radius: 8px;
	margin: 1em;
	display: flex;
	justify-content: center;
	gap: 16vw;
	align-items: center;
}

.profilePhoto {
	width: 5em;
	height: 5em;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	box-sizing: border-box;
}

.memberDetail {
	text-align: left;
}

.header {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
	margin: 0 auto;
}


.selection
{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	margin: 1em auto;

}

.logout
{
	background-color: $text-box;
	color: white;
	font-family: "Popins", sans-serif;
	padding: 0.5em 1em;
	
}

.search
{
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 1em;
	margin: 2em 1em;
}

.button
{
	color: white;
	font-family: "Popins", sans-serif;
	background-color: $color-accent;
}