@import "../colors.scss";

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 15%;
	align-items: flex-start;
	width: 100%;
	height: 70vh;
	margin-top: 4.5rem;
	padding-bottom: 5%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		object-fit: cover;
	}

	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-image: linear-gradient(
				to top,
				rgba(17, 17, 17, 1),
				rgba(17, 17, 17, 0)
			),
			linear-gradient(to right, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
	}
}

.heading {
	font-size: 4rem;
	font-weight: 600;
	color: $color-text;
	margin-bottom: 1rem;
	z-index: 2;
}

.accent {
	color: $color-accent;
}

.verticalText {
	position: absolute; /* Position the text absolutely within the container */
	bottom: 1rem; /* Align to the bottom of the container */
	left: 0;
	writing-mode: vertical-lr;
	text-orientation: upright;
	font-size: 1.125rem;
	font-weight: 600;
	color: $color-text;
	margin-left: 1rem;
	color: $color-accent;
	z-index: 2;
}

.secondContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	padding-right: 10%;
	width: 100%;
	height: 80vh;
	flex: 1;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		object-fit: cover;
	}

	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-image: linear-gradient(
				to top,
				rgba(17, 17, 17, 1),
				rgba(17, 17, 17, 0)
			),
			linear-gradient(to right, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
	}
}

.thirdContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 10%;
	width: 100%;
	height: 80vh;
	flex: 1;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		object-fit: cover;
	}

	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-image: linear-gradient(
				to top,
				rgba(17, 17, 17, 1),
				rgba(17, 17, 17, 0)
			),
			linear-gradient(to right, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
	}
}
.fifthContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 10%;
	width: 100%;
	height: 80vh;
	flex: 1;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		object-fit: cover;
	}

	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-image: linear-gradient(
				to top,
				rgba(17, 17, 17, 1),
				rgba(17, 17, 17, 0)
			),
			linear-gradient(to right, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
	}
}

.fourthContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	height: 80vh;
	padding-right: 10%;
	flex: 1;

	img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		object-fit: cover;
	}

	.gradient {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-image: linear-gradient(
				to top,
				rgba(17, 17, 17, 1),
				rgba(17, 17, 17, 0)
			),
			linear-gradient(to right, rgba(17, 17, 17, 1), rgba(17, 17, 17, 0));
	}
}

.text {
	font-size: 1.125rem;
	font-weight: 500;
	color: $color-text;
	max-width: 50%;
	z-index: 2;
}

.subtitle {
	font-size: 1.5rem;
	font-weight: 500;
	color: $color-text;
	margin: 0;
	z-index: 2;
}

@media screen and (max-width: 800px) {
	.container {
		padding: 0;
	}

	.heading {
		margin: 0 auto 1rem;
	}

	.subtitle {
		margin: 0 auto;
	}

	.secondContainer {
		padding-right: 10%;
	}

	.thirdContainer {
		padding-left: 10%;
	}

	.fourthContainer {
		padding-right: 10%;
	}

	.text {
		max-width: 90%;
	}
}

@media screen and (max-width: 600px) {
	.heading {
		margin: 0 auto 0.5rem;
		font-size: 2.5rem;
	}

	.text {
		font-size: 1rem;
	}

	.subtitle {
		font-size: 1rem;
	}
}
