.wrapper {
	min-height: calc(100vh - 4.5rem);
	margin-top: 4.5rem;
	padding: 3rem;

	.container {
		max-width: 1440px;
		margin: 0 auto;
		padding: 3rem;

		border: 2px #bfa75d;
		border-top-style: solid;
		border-left-style: solid;
		border-radius: 1rem;
		background-color: #1e1e1e;

		display: flex;
		gap: 3rem;

		.sidebar {
			width: 225px;

			ul {
				display: flex;
				flex-direction: column;
				gap: 0.75rem;

				li {
					position: relative;
					padding: 0.5rem 0;

					font-size: 1.125rem;
					cursor: pointer;

					&.active {
						&::before {
							content: "";
							position: absolute;
							top: 0;
							left: -1.25rem;

							width: 1px;
							height: 100%;
							margin-right: 1rem;

							background: #bfa75d;

							display: inline-block;
						}
					}
				}
			}
		}

		.content {
			flex: 1;

			h1 {
				margin: unset;

				font-size: 2.5rem;
				font-weight: 600;
			}

			.photos_alert {
				position: relative;

				width: 100%;
				height: fit-content;
				margin-top: 0.75rem !important;
				padding: 0.5rem 1.25rem;

				border: 2px dashed #bf5d5d;
				border-radius: 0.5rem;
				color: #bf5d5d;
				font-weight: bold;
				text-transform: uppercase;
				text-align: center;

				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				cursor: pointer;

				&:not(:first-child) {
					margin-top: unset;
				}

				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: 0;

					width: 100%;
					height: 100%;

					background-color: rgba(191, 93, 93, 0.25);
				}
			}

			form {
				margin-top: 1.5rem;
				display: flex;
				flex-direction: column;

				.fields {
					display: flex;
					flex-direction: column;
					gap: 0.5rem;

					.input_container {
						display: flex;

						input {
							border-top-right-radius: 0;
							border-bottom-right-radius: 0;
						}

						button {
							width: fit-content;
							padding: 0 1rem;

							border-top-left-radius: 0;
							border-top-right-radius: 0.5rem;
							border-bottom-right-radius: 0.5rem;
							border-bottom-left-radius: 0;
						}
					}

					input,
					select,
					textarea {
						width: 100%;
						padding: 0.5rem 0.75rem;

						outline: none;
						border: 1px solid #444;
						border-radius: 0.5rem;
						background-color: #292929;

						&[type="file"] {
							display: none;
						}

						&[type="date"] {
							cursor: pointer;
						}
					}

					textarea {
						min-height: 5rem;
						max-height: 150px;
					}

					select {
						cursor: pointer;
					}

					label {
						&:not(:first-child) {
							margin-top: 0.75rem;
						}
					}

					.upload {
						position: relative;

						width: 100%;
						height: 100%;
						padding: 1.25rem;

						border: 2px dashed #bfa75d;
						border-radius: 0.5rem;

						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;

						cursor: pointer;

						&:not(:first-child) {
							margin-top: unset;
						}

						&::before {
							content: "Incarca fotografii";
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);

							width: 100%;

							color: #bfa75d;
							font-weight: bold;
							text-transform: uppercase;
							text-align: center;
						}

						&::after {
							content: "";
							position: absolute;
							top: 0;
							left: 0;

							width: 100%;
							height: 100%;

							background-color: rgba(191, 167, 93, 0.25);
						}
					}

					button {
						margin-top: 0;
					}
				}

				.photos {
					margin-top: 0.5rem;

					display: flex;
					flex-wrap: wrap;
					gap: 1rem;

					.photo {
						position: relative;

						border: 2px solid #bfa75d;
						border-radius: 0.5rem;

						overflow: hidden;

						img {
							object-fit: cover;
						}

						.remove {
							padding: 0.5rem;

							background: #bfa75d;

							color: #000;
							font-weight: bold;
							text-align: center;
							text-transform: uppercase;

							cursor: pointer;
						}
					}
				}
			}
		}
	}

	button {
		width: 100%;
		margin-top: 1.25rem;
		padding: 0.5rem;

		background: #bfa75d;
		border: none;
		border-radius: 2rem;

		color: #000;
		font-weight: bold;
		text-transform: uppercase;

		cursor: pointer;
		transition: background 100ms ease-in-out;

		&:hover {
			background: #e3c772;
		}
	}
}

@media screen and (max-width: 1024px) {
	.wrapper {
		padding: 0;

		.container {
			min-height: calc(100vh - 4.5rem);

			border: unset;
			border-radius: unset;
		}
	}
}

@media screen and (max-width: 768px) {
	.wrapper {
		.container {
			padding: 3rem 2rem;

			flex-direction: column;

			.sidebar {
				width: 100%;

				ul {
					gap: 0.5rem;

					li {
						background: #292929;
						border-radius: 2rem;

						font-size: 1rem;
						text-transform: uppercase;
						text-align: center;

						&.active {
							&::before {
								top: -1px;
								left: -1px;
								right: -1px;
								bottom: -1px;

								width: unset;
								height: unset;
								margin: unset;

								background: unset;
								border: 1px solid #bfa75d;
								border-radius: 2rem;
							}
						}
					}
				}

				button {
					margin-top: 0.5rem;
				}
			}

			.content {
				h1 {
					font-size: 2rem;
				}
			}
		}
	}
}
