// SCSS styles
.sectionContainer {
	background: linear-gradient(0, #696969 -5%, rgba(0, 0, 0, 0) 50%);
	// color: #fff;
	padding: 3rem 3rem;
	pointer-events: auto;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: min(100%, 1400px);
	margin: 0 auto;
	gap: 6rem;
}

.textContent {
	max-width: 600px;
	font-size: 2rem;
}

.description {
	margin-bottom: 30px;
	font-size: 1.3rem;
	font-weight: 300;
}

.applyButton {
	color: #000;
	font-weight: bold;
	border-radius: 129px;
	width: fit-content;
	padding: 0.5rem 4rem;
	font-size: 1.5rem;
	background: radial-gradient(75% 300% at 50% 50%, hwb(45 37% 25%) 0%, #000 100%, #000 100%);
	text-align: center; /* Center text horizontally */
	display: flex; /* Use flexbox to align text */
	justify-content: center; /* Center text horizontally in flexbox */
	align-items: center; /* Center text vertically in flexbox */
	cursor: pointer;
	text-transform: uppercase;
}

.imageContainer {
	position: relative;
	width: 500px;
}

.imageFrame {
	// Assuming you want to replicate the geometric shapes around the image

	// Add the image styling here
}
.CTAimage {
	position: absolute;
	top: 5.75em;
	left: 6.6em;
	width: 76%;
	height: 67%;
	object-fit: cover;
}
@media screen and (max-width: 1000px) {
	.wrapper {
		flex-direction: column;
		gap: 3rem;
	}

	.imageContainer {
		width: unset;
	}

	.textContent {
		order: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}
