// SCSS styles
.sectionContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(0, #696969 -5%, rgba(0, 0, 0, 0) 50%);
	// color: #fff;
	padding: 16rem;
}

.textContent {
	// max-width: 50%;
	font-size: 6rem;
}

.description {
	margin-bottom: 30px;
	width: 75%;
	font-size: 1.7rem;
}

.applyButton {
	color: #000;
	font-weight: bold;
	font-size: 1.5rem;
	border-radius: 129px;
	width: 60%; /* Make the button fill the container */
	height: 4.5rem; /* Make the button fill the container */
	font-size: 2rem;
	background: radial-gradient(75% 300% at 50% 50%, hwb(45 37% 25%) 0%, #000 100%, #000 100%);
	text-align: center; /* Center text horizontally */
	display: flex; /* Use flexbox to align text */
	justify-content: center; /* Center text horizontally in flexbox */
	align-items: center; /* Center text vertically in flexbox */
	cursor: pointer;
	text-transform: uppercase;
}

.imageContainer {
	position: relative;
	width: 40%; // Adjust based on your design
}

.imageFrame {
	// Assuming you want to replicate the geometric shapes around the image

	// Add the image styling here
}
