/* components/TextRain.module.css */

.textRain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 0;
}

.rainText {
	position: absolute;
	top: -100px;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
	animation: rain linear infinite;
	-webkit-animation: rain linear infinite;
	font-size: 10em; /* Increase the font size */
	color: rgba(255, 255, 255, 0.025); /* More faded by reducing opacity */

	span {
		transform: rotate(90deg);
		display: inline-block;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

/* Define blur classes based on font size */
.blur-smaller {
	filter: blur(3px); /* More blur for smaller text */
}

.blur-larger {
	filter: blur(3px); /* More blur for larger text */
}

.blur-middle {
	filter: blur(1px); /* Less blur for middle-sized text */
}

@keyframes rain {
	to {
		transform: translateY(100vh) rotate(180deg); /* Move to bottom of the viewport */
	}
}
